<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PHP Sys</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://oj6vlb7aj.bkt.clouddn.com/20171011150772699998861.png">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="__STATIC__/i/favicon.png">
    <link rel="stylesheet" href="__STATIC__/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="{:url('/')}">PHP-Sys</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="/">首页</a></li>
            </ul>
        </div>
    </div>
    </div>
</header>
<div class="header">
    <div class="am-g">
        <h1>登陆</h1>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <div class="am-form">
            <p id="info"></p>
            <label for="user_name">用户名:</label>
            <input type="text" name="user_name" id="user_name" value="">
            <br>
            <label for="password">密码:</label>
            <input type="password" name="password" id="password" value="">
            <br>
            <!--<label for="remember-me">-->
            <!--<input name="remember-me" id="remember-me" type="checkbox">-->
            <!--记住密码-->
            <!--</label>-->
            <br />
            <div class="am-cf">
                <input id="submit" type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                <!--<input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">-->
            </div>
        </div>
        <hr>
        <p>© 2017 <a href="http://www.yunshipei.com" target="_blank">AllMobilize, Inc.</a> Licensed under <a
                href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. by the PHP Team.</p>
    </div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__STATIC__/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__STATIC__/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__STATIC__/js/amazeui.min.js"></script>

<script>
    $(function() {
        var x = $("#submit");
        $("#submit").click(function() {
            var params = $("input").serialize();
            var url = "/index/user/login";

            $.ajax({
                type: "post",
                url: url,
                dataType: "json",
                data: params,
                success: function(msg) {
                    if (msg.status) {
                        function jump(count) {
                            window.setTimeout(function(){
                                count--;
                                if(count > 0) {
                                    $('#num').attr('innerHTML', count);
                                    jump(count);
                                } else {
                                    window.location.href = "/";
                                }
                            }, 1000);
                        }
                        var backdata = "登陆成功";
                        $("#info").html(backdata);
                        $("#info").css({color: "green"});
                        jump(1);
                    } else {
                        var backdata = "用户名或密码错误";
                        $("#info").html(backdata);
                        $("#info").css({color: "red"});
                    }
                },
                error: function(msg) {
                    console.log(msg);
                }
            })
        })
    })
</script>

</body>
</html>
